---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

* {
  font-family: Comfortaa !important;
  color: #fff !important;
}

*[style*="border-bottom"], header, hr, th {
  border-bottom: 1px dashed #fff !important;
}

h1:before {
  content: none !important;
}

body {
  background-image: url("https://ikcerog.github.io/Swglegends-adventures/assets/img/waves.svg");
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: bottom center;
}

.btn-github {
  display: none !important;
}

/* ==== HERO SECTION ==== */

#hero-section {

}

ul#cards {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  justify-content: space-between;
}

.card {
  background: rgba(255,255,255,0.08);
  width: calc((100% / 3) - 8px);
  border-radius: 24px 0;
  border: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.card a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  text-decoration: none !important;
}

.card a .headline {
  font-size: 24pt;
  font-weight: bold;
}

.card a:hover {
  
}

.card .image {
  height: 240px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.card .headline, .card .subhead {
  padding: 8px;
}

@media screen and (max-width: 800px) {
  .card {
    width: calc(100% - 16px);
    margin: 10px 0;
  }
  
  ul#cards {
    flex-direction: column;
    max-width: calc(100% - 20px);
  }
  #main_content table {
    max-width: 95vw !important;
    overflow-x: scroll;
    font-size: 8pt;
    display: flex;
    flex-direction: column;
  }
}
