---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;700;900&display=swap');

* {
  font-family: Outfit !important;
  color: #fff !important;
}

*[style*="border-bottom"], header, hr, th {
  border-bottom: 1px dashed #fff !important;
}

h1:before {
  content: none !important;
}

body {
  background-image: url("https://ikcerog.github.io/Swglegends-adventures/assets/img/waves.svg");
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: bottom center;
}

.btn-github {
  display: none !important;
}

/* ==== HERO SECTION ==== */

#hero-section {
 margin-bottom: 16px;
}

ul#cards {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 100%;
    margin: 0 auto;
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

.card:nth-child(1) {
  grid-column: span 3;
}

.card {
  background: rgba(255,255,255,0.08);
  width: 100%;
  border-radius: 24px 0;
  border: 2px solid #ddd;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.card a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: center;
  text-decoration: none !important;
}

.card a .headline {
  font-size: 24pt;
  font-weight: bold;
}

.card a:hover {
  
}

.card .image {
  height: 240px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.card .headline, .card .subhead {
  padding: 16px;
}

@media screen and (max-width: 800px) {
  .card {
    width: calc(100% - 4px);
    margin: 0 0 24px 0;
  }
  
  ul#cards {
    display: flex;
    flex-direction: column;
  }
  #main_content table {
    max-width: 95vw !important;
    overflow-x: scroll;
    font-size: 8pt;
    display: flex;
    flex-direction: column;
  }
}

/* LATEST NEWS */
ul.latest-news {
  margin-left: 0;
  padding-left: 0;
}

ul.latest-news li {
  list-style-type: none !important;
  padding: 8px 0;
  border-bottom: 1px dashed #ffffff33;
}
